*
  padding 0
  margin 0
  border 0

body, html
  height 100%

.background
  background-image url("../images/minecraft_bg.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  overflow hidden
  height 100%
  position: relative
  z-index -1

.overlay
  background-image url("../images/minecraft_bg.jpg")
  background-size: cover;
  overflow: hidden;
  filter blur(35px) brightness(1.2)
  position absolute
  margin auto
  bottom 0
  top 0
  left 0
  right 0
  height 100%

#circle
  position absolute
  top 0
  left 0
  width 100%
  height 100%

#case
  position absolute
  top 0
  left 0
  width 100%
  height 100%